.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: auto;
  }

  .p-5 {
    margin: auto;
  }
  
  .fa-facebook:hover {
    opacity: .5;
    color: #3B5998;
  }
  
  .fa-facebook {
    background: white;
    color: #3B5998;
  }
  .fa-instagram {
    color: red;
    background: white;
  }
  .fa-instagram:hover {
    opacity: .5;
    color: red;

  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .masthead-subheading {
      font-family: satisfy;
      font-weight: lighter;
  }
  .rounded-circle {
    margin: auto;
  }

.header-image {
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  min-height: 450px;
  position: relative;
  text-align: center;
}
.header-image-text {
  font-family: satisfy;
  font-weight: lighter;
  position: absolute;
  top: 70%;
  right: 25%;
  left: 25%;
  color: white;
  display: inline-block;
}

.spacer-div {
  height: 100px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media only screen and (max-width: 600px) {
 
  .masthead-subheading {
    font-size: 30px;
  }
}