.fa {
    padding: 20px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: auto;
  }

  .p-5 {
    margin: auto;
  }
  
  .fa-facebook:hover {
    opacity: .5;
    color: white;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    color: white;
    background: red;
  }
  .fa-instagram:hover {
    opacity: .5;
    color: white;

  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .masthead-subheading {
      font-family: satisfy;
      font-weight: lighter;
  }
  .rounded-circle {
    margin: auto;
  }

.header-image {
  background-image: url("/img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  min-height: 500px;
  position: relative;
  text-align: center;
}
.header-image-text {
  font-family: satisfy;
  font-weight: lighter;
  position: absolute;
  top: 70%;
  right: 25%;
  left: 25%;
  color: white;
  display: inline-block;
}

.spacer-div {
  height: 100px;

}